*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(230, 230, 230);
}

h1{
  color: rgb(74, 74, 74);
  color: rgb(131, 150, 253);
}

.App{
  width: 80%;
  margin: auto;
}

.int-relv-box{
  display: flex;
  gap: 2rem;
}

.static-graphs{
  margin-top: 2rem;
}

.pie-charts-container{
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}


@media (max-width:800px){

  .App{
    width: 95%;
    margin: auto;
  }

  .int-relv-box{
    flex-direction: column;
  }

  .pie-charts-container{
    flex-direction: column;
    margin-top: 4rem;
  }
  
}